/**
 * breakpoints
 */
$DESKTOP: 1280px;

/**
 * font-family
 */
$Arial: Arial, Helvetica, sans-serif;
$Montserrat: Montserrat, sans-serif;
$DESIGN-W: 3840px;
$DESIGN-H: 2160px;
/**
 * color
 */
$SANDY: #eee2c7;
$BROWN: #99856e;
$FLAG: #ddd0b1;
$WHITE: #ffffff;
$BLACK: #000000;
$RED: #D8232A;

/**
 * z-layer
 */
$z-modal: 1000;

/**
 * font-weight
 */
$FW-NORMAL: 400;
$FW-BOLD: 700;
$FW-THIN: 100;
$FW-EXTRA_LIGHT: 200;
$FW-ULTRA_LIGHT: 200;
$FW-LIGHT: 300;
$FW-MEDIUM: 500;
$FW-SEMI_BOLD: 600;
$FW-DEMI_BOLD: 600;
$FW-EXTRA_BOLD: 800;
$FW-ULTRA_BOLD: 800;
$FW-BLACK: 900;
$FW-HEAVY: 900;

/**
 * other
 */

// $section-width: 745px;
$section-height: 680px;
$section-title-ml: 80px;
$section-title-mb: 73px;

$main-text_line-w: 306px;
