@font-face {
    font-family: 'Monserrat';
    src: url('fonts/hinted-subset-Montserrat-Medium.woff2') format('woff2'),
        url('fonts/hinted-subset-Montserrat-Medium.woff') format('woff')
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Monserrat';
    src: url('fonts/hinted-subset-Montserrat-Medium.woff2') format('woff2'),
        url('fonts/hinted-subset-Montserrat-Medium.woff') format('woff'),
    font-weight: 500;
    font-style: normal;
}