//- GUI
include gui/gui

//- Элементы
//-include mute-button/mute-button

//- Блоки
include sections/sections
include custom-modal/custom-modal
include map/map
include point-info/point-info
//include carousel_modal/carousel_modal
include media-modal/media-modal
include scroll-text/scroll-text

//- include inside-content/inside-content
//- include custom-menu/custom-menu

//- Страницы
include p-index/p-index
include p-map/p-map
include p-point-info/p-point-info
